body {
  background-color: whitesmoke;
  width: 100%;
}
.item {
  display: flex;
  align-items: center;
  width:100%;
  border-bottom:1px ridge black;
  padding-bottom:5px;
  margin:0 auto;
  background:gray;
}
P{
  margin-left:1.2rem;
  color:black;
  width:50%;
  
}

div{
 background-color: white;
  width: 30%;
  margin: 0 auto;
  padding:2rem;
}
